.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form label {
    font-family: system-ui;
    font-size: 16px;
    font-weight: 500;
    color: #374557;
    margin-left: 5px;
    font-weight: 600;
}

#apelido {
    width: 30%;
    height: 35px;
    border: 1px solid #878788;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 300;
    color: #374557;
}

#marca,
#local,
#modelo {
    width: 40%;
    height: 35px;
    border: 1px solid #878788;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 300;
    color: #374557;
}