.container-log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50%;
    padding: 3rem;
}

.second-content {
    display: flex;
    align-items: flex-end;
}

.form-log {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.fist-content {
    display: flex;
    background-color: #4CBC9A;
    height: 100vh;
    width: 50%;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-log input {
    margin: 3px;
    width: auto;
    height: 45px;
    background: #FAFAFA;
    border: 1px solid #5e5b5b;
    border-radius: 10px;
    padding: 10px;
}

.fist-column {
    text-align: center;
    flex: 1 0 auto;
}

.fist-column h2 {
    font-size: 3rem;
    font-weight: 100;
    font-family: system-ui;
    color: white;
}

.fist-column span {
    border: 1px solid white;
    color: #f3f3f3;
    padding: 3px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: system-ui;
    font-weight: 100;
}

.second-column {
    text-align: center;
    flex: 2 0 auto;
}

.actions {
    margin: 3px;
}

.btn {
    border: none;
    width: 100%;
    height: 45.32px;
    background: #4CBC9A;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
}