* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: system-ui;
  font-size: 24px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #374557;
}